.pro {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.amg {
    width: 45em;
    height: auto;
}

.progress {
    width: 100%;
    height: 20px;
}

.loading {
    margin-top: 50  px;
    width: 100%;
    height: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.loading:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FF7529;
    animation: loadingAnimation 2s infinite ease-in-out;
}

@keyframes loadingAnimation {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.height{
    height: 200px
}