.container {
    display: flex;
    flex-direction: column;
}

.selectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pieChart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 8rem 1rem 8rem;
    transition: .2s;
}

.pieChart:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.pieChart:active {
    transform: scale(0.8);
}

.barChart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 8rem 1rem 8rem;
    transition: .2s;
}

.barChart:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.barChart:active {
    transform: scale(0.8);
}

.radarChart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 8rem 1rem 8rem;
    transition: .2s
}

.radarChart:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.radarChart:active {
    transform: scale(0.8);
}

.animation {
    animation: chartPop 1s;
}

@keyframes chartPop {
    0% {
        opacity: 0;
        transform: scale(0.6)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.barplot_container{
    padding-top: 100px;
}