@import url('https://fonts.googleapis.com/css?family=Lexend Deca');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.divIMGRight{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin: 10% 10%;

}

.divIMGLeft{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.title2{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #25338D;
}

.text_left{
    width: 50%;
    margin-right: 5%;
}

.text_right{
    margin-left: 1%;
    //border: 2px solid purple;
    width: 50%;
}
.aboutText {
    font-family: 'Montserrat';
    font-style: normal;
    text-justify: auto;
    font-weight: 300;
    font-size: 17px;
    line-height: 152.4%;
}

.image_section_right{
    width: 50%;
    height: 100%;
    float: right;
}

.image_section_left{
    width: 50%;
    height: 100%;
    float: left;
}

.img_about{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}