.pro {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    all: unset;
    background-color: #ff3d47;
    width: 33rem;
    padding: 0.9rem 3.5rem;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2s;
    margin: 2rem;
    text-align: center;
    user-select: none;
}

.button:hover:enabled {
    transform: scale(1.03);
}

.button:active:enabled {
    transform: scale(0.97);
}

.button:disabled {
    background-color: #cac5c5;
    color: #6d6d6d;
}

.textInput {
    width: 40rem;
    height: 320px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #cac5c5;
    padding: 20px 20px 40px 20px;
    resize: none;
    outline: none;
    transition: all 0.4s ease;
}

.textInput:focus {
    border-color: #ff3d47;
}

.table {
    background-color: hsl(0, 0%, 100%);
    width: 80vw;
    border: 1px solid #cac5c5;
    border-radius: 10px;
    border-spacing: 0;

}

.tableHead {
    background-color: #f5f7f9;
    border-top-left-radius: 10px;
}

.tableHead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tableHead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tableHead th {
    padding: 1rem;
    text-align: left;
    padding-left: 1.5rem;
    font-size: 0.8rem;
}

.tableHead th:nth-child(1){
    width: 5%;
}

.tableHead th:nth-child(3){
    width: 15%;
}

.tableHead th:nth-child(4){
    width: 15%;
}

.tableRow td {
    padding: 1.5rem;
    text-align: left;
    font-weight: 400;
}