.container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.zoomIn {
    transform: scale(1.3);
    transition: transform 0.7s ease-in-out;
}

.logoContainer {
    border-radius: 200;
    padding: 20;
    z-index: 2;
    transition: transform 0.7s ease-in-out;
}

.logo {
    width: 10vw;
    animation: rotate-infinite 10s linear infinite;
}

@keyframes rotate-infinite {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logoContainer:hover {
    transform: scale(1.3) rotate(360deg);
}

.text {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80vh;
    user-select: none;
    animation: breath 5s ease-in-out infinite;
}

@keyframes breath {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}