.container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200;
    padding: 20;
    z-index: 2;
    transition: transform 0.7s ease-in-out;
}

.logoContainer:hover {
    transform: scale(1.3) rotate(360deg);
}

.infiniteRotate {
    animation: rotate-infinite 10s linear infinite;
}

@keyframes rotate-infinite {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoomAnimation {
    animation: zoom 1s ease-in-out infinite;
}

.fadeAnimation {
    animation: fade 1s ease-in-out infinite;
}

.zoomFadeAnimation {
    animation: zoom 1s ease-in-out infinite, fade 1s ease-in-out infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(30);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.text {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80vh;
    user-select: none;
    opacity: 0;
}

.textBreath {
    animation: breath 5s ease-in-out infinite;
}

@keyframes breath {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
